table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #222;
  border-radius: 16px;
  overflow: hidden;
}

th, td {
  text-align: left;
  padding: 2px;
  padding-left: 16px;
}

tr {
    border: 1px solid #222;
}

thead {
    background-color: #0D0D0D;
}

thead th {
    line-height: 16px;
}

thead th span {
  font-size: 9px !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

tr:nth-child(even) {
  background-color: #0D0D0D;
}

/* tr:hover {
  background-color: #333;
} */



