.token-page-content {
  padding-bottom: 80px; /* Ensure content doesn't get cut off by fixed buttons */
}

.token-header {
  display: flex;
  align-items: center;
}

.token-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.token-info-container > div {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.token-info-label {
  font-size: 12px;
  color: #888888;
}

.token-info-value {
  font-size: 15px;
}

.token-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  margin-right: auto;
}

.token-title {
  font-size: 15px;
}

.token-address {
  font-size: 12px;
  color: #888888;
}

.token-price {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
}

.price-up {
  color: #4CAF50;
  margin-left: 8px;
}

.price-down {
  color: #F44336;
  margin-left: 8px;
}

.token-info-section {
  margin-top: 16px;
}

/* Custom positioning for token page actions */
.token-page-actions {
  position: fixed;
  bottom: 53px; /* Above the TabBar */
  background: #000000a6;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  left: 0;
  right: 0;
  z-index: 999;
}
