body {
  /* background: var(--tg-theme-secondary-bg-color, white); */
  background: #000;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: #fff !important;
}

:root {
  --safe-area-bottom: calc(var(--tg-safe-area-inset-bottom, 0px) + var(--tg-content-safe-area-inset-bottom, 0px));
}

.tgui-7707c5d942b7b9af .tgui-0f5050defacbf813 {
  background: #1c1c1e !important;
  color: #fff;
}

.tgui-30bf4976f818e8bf {
  background: #1c1c1e !important;
  color: #fff;
}

.tgui-97eca24324122dbc .tgui-4b78bed6e925088e {
  background: #1c1c1e !important;
  color: #fff;
}

/* h1, h2, h3, h4, h5, h6, input {
  color: #fff !important;
} */

input {
  color: #fff !important;
}

.tgui-6a12827a138e8827 {
  color: #fff !important;
}

@media (hover: hover) and (pointer: fine) {
  .tgui-b8dfba0b5c3d054c:hover {
    background: #1c1c1e !important;
  }
}

.tgui-cc76354712c6e8d9 {
  background: black;
}

.tgui-8a1ca9efa24f4809 {
  background: #fff;
  color: #000 !important;
}

/* label */
.tgui-9b2ad13855aef059 {
  max-height: 42px !important;
}

/* Input::placeholder { */
