body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

:root {
  --safe-area-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh));
}
